@font-face {
    font-family: 'DM Serif Text';
    src: url(./fonts/DMSerifText-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url(./fonts/DMSans-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'DM Sans Bold';
    src: url(./fonts/DMSans_18pt-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'DM Sans Italic';
    src: url(./fonts/DMSans_18pt-LightItalic.ttf) format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    background-color: #130c09
}

.logo-container {
    background-color:rgba(46, 42, 42, 0.5); 
    position: absolute;
    top: 20%;
    width: 100%;
    height: 150px;
    z-index: 10; 
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.logo-container span {
    font-family: 'DM Serif Text', serif;
    font-weight: 400; 
    font-size: 32px;
    color: rgb(249, 248, 234);
    
}

.container {
    display: flex;
    width: 100vw;
    min-height: 100vh;
}

.text-container {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.img-container {
    width: 35%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

.icon {
    width: 40px;
    height: 40px;
}

.section-1 {
    font-size: 22px;
    font-family: 'DM Sans Bold';
    color: rgb(249, 248, 234);
    margin-top: 150px;
    margin-left: 80px;
    margin-right: 80px;
}

.section-1 p {
    margin-bottom: 32px;
}

.section-2 {
    width: 100%;
    min-height: 410px;
    margin-top: 44px;
    margin-bottom: 44px;
    padding-bottom: 20px;
    background-color: rgba(35, 20, 13, 0.5);
    display: flex;
    color: rgb(249, 248, 234);
    flex-direction: column;
}

.header {
    margin-top: 24px;
    margin-bottom: 32px;
    margin-left: 80px;
    margin-right: 80px;
    font-family: 'DM Sans Bold';
    font-size: 16px;
}

.form {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 0px 120px;
    gap: 200px;
}

.form-section1, 
.form-section2 {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    letter-spacing: 1.8px;
    gap: 24px;
}
.form input {
    padding: 6px;
    font-size: 18px;
    width: 300px;
    border-radius: 5px;
    background-color: rgb(249, 248, 234);
    margin-top: 10px;
}
.form input:focus { 
    outline: none;
    box-shadow: 0 0 5px rgb(211, 211, 206);
}

.form input:focus:invalid { 
    border: 2px solid red;
}
.form-element {
    display: flex;
    flex-direction: column;
}
.section-3 {
    margin: 0px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button {
    font-size: 18px;
    width: 180px;
    padding: 8px;
    background-color: #9f1d1b;
    color: rgb(249, 248, 234);
    font-family: 'DM Sans Bold';
    border-radius: 10px;
    border: none;
    margin-bottom: 32px;
}
.section-3 p {
    color: rgb(249, 248, 234);
    font-size: 18px;
    margin-bottom: 64px;
}
.section-3 span {
    text-decoration: underline;
    font-family: 'DM Sans Bold';
}

.button:hover {
    cursor: pointer;
}


    


