@font-face {
    font-family: 'DM Serif Text';
    src: url(./fonts/DMSerifText-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url(./fonts/DMSans-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    background-color: #2f1c11
}

.logo-container {
    background-color:rgba(46, 42, 42, 0.5); 
    position: absolute;
    top: 20%;
    width: 100%;
    height: 150px;
    z-index: 10; 
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.logo-container span {
    font-family: 'DM Serif Text', serif;
    font-weight: 400; 
    font-size: 32px;
    color: rgb(249, 248, 234);
    
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.img-container {
    width: 30%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.img {
    width: 100%;
    height: 100%;
    display: block;
}

.icon {
    width: 40px;
    height: 40px;
}

